@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Autour One';
    background-color: #303030;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

select{
    border: 0px;
    background-color: #fff;

    cursor: pointer;
    width: 100%;
}